.img-view-modal{
    display: none; 
    position: fixed;
    z-index: 1031;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}
.img-view-modal[show-modal="show"]{
    display: block !important;
}
.img-view-modal[show-modal="hide"]{
    display: none !important;
}
.img-view-modal .modal-dialog{
    /* padding-top: 100px; */
    height: 100vh;
}
.img-view-modal .modal-content {
    position: relative;
    background-color: #000000;
    margin: auto;
    padding: 0;
    border: none;
    width:100%;
    height: 100%;
    /* max-width: 1000px; */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    /* border-radius: 16px 16px 16px 16px; */
}
  
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
  /* The Close Button */
.img-view-modal .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.img-view-modal .close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.img-view-modal .modal-header {
    padding: 10px 12px;
    /* background-color: #5cb85c; */
    /* background-image: linear-gradient(to right, #ffbc87 0%, #f3f45d 50%, #2a8e75 100%); */
    /* color: rgb(0, 0, 0); */
    background-image: linear-gradient(to left, #ff6c75, #8C3FFF);
    color: white;
    background-size: cover;
    background-position: center;
    font-size: 26px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.img-view-modal .modal-header button{
    color: white !important;
    font-weight: 600;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    line-height: .1;
    padding: 2px 2px 3px;
}
  
.img-view-modal .modal-body {
    padding: 12px 12px 75px;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
}
.img-gallery-modal-carousel{
    height: 100%;
}
.img-gallery-modal-carousel .carousel-inner{
    height: 100%;
}
.img-gallery-modal-carousel .carousel-item{
    height: 100%;
}
.img-view-modal .carousel-item-body{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.img-gallery-modal-carousel .carousel-video-item-body{
    display: flex !important;
}
.img-view-modal .carousel-item-body h5{
    color: #ffc700;
    font-weight: 700;
    font-family: 'Proxima Soft Semibold';
    font-size: 35px;
    border-radius: 12px 12px 0px 0px;
    /* position: absolute; */
    top: -12px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0px 0px 12px 12px;
    padding: 0px 10px 8px 10px;
}
.img-view-modal .img-content-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.img-view-modal .full-screen-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-view-modal .carousel-item-img{
    /* width: auto;
    max-width: 100%; */
    /* padding-bottom: 10px ; */
}
.img-view-modal .carousel-item-video{
    width: 650px;
    height: 400px;
}
.img-gallery-modal-carousel .carousel-control-next, .img-gallery-modal-carousel .carousel-control-prev{
    opacity:unset !important;
    width: auto;
    top: 100px;
}
.img-gallery-modal-carousel .carousel-control-next{
    justify-content: right !important;
}
.img-gallery-modal-carousel .carousel-control-prev{
    justify-content: left !important;
}
.img-view-modal .carousel-control-prev span{
    padding: 2px 15px 2px 5px;
    border-radius: 0px 5px 5px 0px;
    background-color: rgba(0, 0, 0, .7);
}
.img-view-modal .carousel-control-next span{
    padding: 2px 5px 2px 15px;
    border-radius: 5px 0px 0px 5px;
    background-color: rgba(0, 0, 0, .7);
}
.image-view-box-controller{
    position: fixed;
    bottom: -6px;
    right: 0;
    z-index: 10;
    width: 100%;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 12px;
}
.image-view-box-controller button{
    color: white !important;
    font-weight: 600;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    line-height: .1;
    padding: 2px 2px 3px;
}
.image-view-box-controller .full-screen-icon{
    height: 21px;
    width: 21px;
}
.img-view-modal .modal-footer {
    padding: 10px 16px;
    /* background-image: linear-gradient(to right, #ffa159 0%, #f3f45d 50%, #2a8e75 100%);
    color: rgb(0, 0, 0); */
    background-image: linear-gradient(to left, #ff6c75, #8C3FFF);
    color: white;
    font-weight: 700;
    border-radius: 0px 0px 15px 15px;
}

@media(max-width:767.98px){
    .img-view-modal .carousel-item-body h5{
        font-size: 28px;
    }
    .img-view-modal .carousel-item-video{
        width: 450px;
        height: 320px;
    }
}

@media(max-width:575.98px){
    .img-view-modal .carousel-item-body h5{
        font-size: 24px;
    }
    .img-view-modal .carousel-item-video{
        width: 320px;
        height: 250px;
    }
}
@media(max-width:483.98px){
    .img-view-modal .carousel-item-body h5{
        font-size: 22px;
    }
}
@media(max-width:423.98px){
    .img-view-modal .carousel-item-body h5{
        font-size: 20px;
    }
    .img-view-modal .carousel-item-video{
        width: 250px;
        height: 220px;
    }
}
@media(max-width:349.98px){
    .img-view-modal .carousel-item-video{
        width: 220px;
        height: 200px;
    }
}