.bg-body-tertiary{
    background-color: #222222 !important;
    color: #f4be00 !important;
    border-top: 5px solid #e0774a;
    /* margin-top: 20px; */
}

footer p{
    color: white !important;
}

footer a{
    text-decoration: none;
    color: white !important;
    cursor: pointer;
}

footer .steps-info-heading .card-text{
    color: black !important;
}

.chat-bot-icon-section button{
    border: none;
    border-radius: 50%;
    bottom: 30px;
    box-shadow: 0px 3px 4px 0px #0003;
    cursor: pointer;
    height: 68px;
    position: fixed;
    right: 20px;
    width: 68px;
    z-index: 1031;
    background-color: black;
    background-image: linear-gradient(to left, #ff6c75, #8C3FFF);
}
.chat-bot-icon-section .close-btn{
    background-color: rgb(108, 108, 108);
    color: white;
    background-image:none !important;
}
.chat-bot-icon-section img{
    height: 42px;
}

@media(min-width:768px) and (max-width:991.98px){
    .footer-custom-style .row{
        font-size: 14px;
        font-family: "Proxima Soft";
    }
    .footer-custom-style .text-uppercase{
        font-size: 14px;
        font-family: "Proxima Soft Bold";
    }
    .footer-copyright-section{
        font-family: 'Proxima Soft Bold';
        font-size: 14px;
    }
}
@media(max-width:483.98px){
    .chat-bot-icon-section img {
        height: 32px;
    }
    .chat-bot-icon-section button{
        height: 56px;
        right: 10px;
        width: 56px;
    }
    .chat-bot-icon-section button i{
        font-size: 30px !important;
    }
}