.bg-body-tertiary{
    background-color: #222222 !important;
    color: #f4be00 !important;
    border-top: 5px solid #e0774a;
    /* margin-top: 20px; */
}

footer p{
    color: white !important;
}

footer a{
    text-decoration: none;
    color: white !important;
}