.navbar-custom-style{
    /* background-color: #eb8700 !important; */
    background-color: #f4be00 !important;
}
.brand-logo-section{
    display: flex;
    align-items: center;
    gap: 5px;
    background: black;
    padding: 5px 10px 5px 8px;
    border-radius: 5px;
    margin-right: 15px;
}
.brand-logo-section .navbar-brand{
    margin-right: 0px;
}
.brand-logo-section a{
    font-size: 16px !important;
}
.brand-logo-img{
    height: 30px;
    width: 30px;
}
.navbar-nav{
    gap: 6px;
}
.navbar-nav .nav-item .nav-link{
    color: rgb(0, 0, 0);
    font-weight: 600;
    cursor: pointer;
}
.navbar-nav .nav-item .nav-link:hover{
    color: rgb(239, 255, 196);
}
.navbar-nav .nav-item .nav-link:focus{
    color: rgb(239, 255, 196);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(149 61 0) !important;
    font-weight: 700;
}

.navbar-toggler{
    border-color: black;
    border: none;
    padding: 0;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.navbar-book-now-btn {
    align-items: center;
    padding: 0px !important;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    margin-top: 0px;
    transition: all 0.3s ease;
    max-width: 250px;
    border-bottom: 4px solid #950000;
    background-color: #950000;
    transition: 0.1s all;
    font-family: 'Proxima Soft Bold';
}
.navbar-book-now-btn span{
    animation: d 53s linear infinite;
    background: linear-gradient(121.19deg, rgba(133, 239, 49, 0) 25.73%, hsla(0, 0%, 100%, .3) 45.27%, rgba(133, 239, 49, 0) 62.27%), #ff3131;
    color: white;
    border-radius: 24px;
    fill: currentColor;
    padding: 8px 15px 6px;
    display: block;
    width: auto;
    -webkit-animation: d 53s linear infinite;
    animation: d 53s linear infinite;
}
@keyframes d {
    0% {
        background-position: -5000px 0
    }

    to {
        background-position: 5000px 0
    }
}
@-webkit-keyframes d {
    0% {
        background-position: -5000px 0
    }

    to {
        background-position: 5000px 0
    }
}
.navbar-book-now-btn:hover {
    border-bottom: 4px solid #953d00;
}
.navbar-book-now-btn span:hover{
    background: linear-gradient(121.19deg, rgba(133, 239, 49, 0) 25.73%, hsla(0, 0%, 100%, .3) 45.27%, rgba(133, 239, 49, 0) 62.27%), #f4a300;
    color: #3a0000;
}
.navbar-book-now-btn:active {
    border-bottom: none !important;
    transform: translateY(2px);
}
.profile-dropdown{
    background-color: initial;
    border: none;
    color: black;
    font-weight: 600;
}
.custom-dropdown-menu-style {
    width: 125px;
    padding: 0px;
}
.dropdown-item-custom-style {
    background-color: initial;
    border: 0;
    clear: both;
    color: black;
    display: block;
    font-weight: 600;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
}
.dropdown-item-custom-style button{
    color: black;
    font-weight: 600;
}
.profile-dropdown::after{
    content: none;
}
.profile-dropdown.show, .profile-dropdown:hover{
    background-color: transparent !important;
    border: none;
}
.profile-dropdown:active{
    opacity: .5;
}
[dropdown-item-active="true"]{
    color: rgb(149 61 0) !important;
    text-decoration: none;
    font-weight: 700;
}

@media(min-width:768px){
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        border: 2px solid #ce914e;
        border-radius: 8px;
        padding: 6px;
    }
    .custom-dropdown-menu-style{
        padding-top: 2px;
        padding-bottom: 6px;
        margin-top: 12px;
        border-radius: 4px;
    }
    .triangle-up {
        width: 0;
        height: 0;
        border-left: 16px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 25px solid #ffffff;
        position: absolute;
        top: -18px;
        right: 5px;
    }
}
@media(min-width:992px){
    .navbar-book-now-btn span{
        padding: 8px 36px 6px;
    }
}
@media(min-width:768px) and (max-width:991.98px){
    .navbar-nav{
        gap: 2px;
    }
    .brand-logo-section{
        margin-right: 10px;
    }
    .navbar-nav .nav-item .nav-link{
        font-size: 14px !important;
        padding-left: 8px;
        padding-right: 8px;
    }
    .navbar-book-now-btn span{
        padding-left: 12px;
        padding-right: 12px;
    }
}
@media(min-width:768px) and (max-width:849.98px){
    .navbar-nav{
        gap: 2px;
    }
    .brand-logo-section{
        margin-right: 6px;
        padding: 4px 6px 5px 6px;
    }
    .brand-logo-section a{
        font-size: 14.5px !important;
    }
    .navbar-nav .nav-item .nav-link{
        font-size: 14px !important;
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar-book-now-btn span{
        padding-left: 13px;
        padding-right: 13px;
        font-size: 15px;
    }
}
@media(max-width: 767.98px){
    .navbar-collapse{
        margin-top: 12px;
        margin-bottom: 6px;
    }
    .navbar-collapse .navbar-nav{
        text-align: left;
    }
    .navbar-collapse .navbar-nav .bottom-border{
        border-bottom: 2px solid rgb(54, 54, 54)
    }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: rgb(149 61 0) !important;
    }
    .navbar-book-now-btn{
        float: left;
        margin-top: 8px;
    }
    .navbar-book-now-btn span{
        padding: 8px 36px 6px;
    }
    .custom-dropdown-menu-style {
        position: relative;
        background-color: transparent;
        left: 20px;
        border: none;
        list-style-type: none;
        margin-left: 13px;
        font-weight: 700;
    }
}