
.homepage-body{
    background-color: white;
}
.homepage-body .introduction-banner{
    background-image: url('https://img.perceptpixel.com/pykhlszs/riya_caterer/homepage-banner-images__1_.webp');
    background-size: cover;
    background-position: bottom;
}
.homepage-body .introduction-banner .dark-opacity{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    padding: 10px;
    height: 100%;
    position: relative;
    font-weight: 500;
    color: white !important;
}
.homepage-body .introduction-banner .intro-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0px 12px;
}
.homepage-body .intro-heading h2{
    font-size: 36px !important;
}

.homepage-body .intro-txt{
    font-size: 18px;
    color: white !important;
}

.homepage-body .intro-txt .caterer-name{
    font-weight: 700;
    color: rgb(255 244 180);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.homepage-body .intro-qote{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 20px;
}
.homepage-body .intro-qote .first-p{
    margin-bottom: 0px;
}
.homepage-body .intro-qote .second-p{
    margin-bottom: 2px;
}
.homepage-body .intro-qote-two{
    font-weight: 600;
    font-size: 16px;
    margin-top: 22px;
    color: #fff4b4;
    margin-bottom: 15px;
}
.enquiry-btn-section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.neon-glow-button {
    align-items: center;
    padding: 8px 14px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 0px;
    transition: all 0.3s ease;
    width: 250px;
    border: 1px solid #000000;
    background-color: white;
    transition: 0.1s all;
    font-family: 'Proxima Soft Bold';
    /* box-shadow: 0 0 20px #f4be00, 0 0 30px #f4be00, 0 0 40px #8d4b00 !important; */
    /* text-shadow: 0 0 10px #c05a45; */
    /* background-color: rgb(0 0 0 / 50%); */
}
.neon-glow-button:hover {
    box-shadow: 0 0 30px #00daa5, 0 0 40px #00bb49, 0 0 50px #00936e !important;
}
.neon-glow-button:active {
    box-shadow: 0 0 20px #f4be00, 0 0 30px #f4be00, 0 0 40px #8d4b00 !important;
    animation: btn-click .4s !important;
}
@keyframes btn-click {
    50%{
        transform: translateY(3px);
      }
    100%{
        transform: rotate(-3px);
    }
}
.homepage-body h3{
    font-weight: 600;
}
.about-us-section{
    background-image: url(https://img.perceptpixel.com/pykhlszs/riya_caterer/bg-img-ten.webp);
    min-height: 300px;
    background-position: top;
    background-size: cover;
    padding: 50px 100px 20px;
}
.about-us-section h3{
    font-family: Caveat, cursive;
    font-size: 42px;
    color: #ab2522;
    margin-top: 25px;
    margin-bottom: 15px;
}
.about-us-section .first-p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
}
.about-us-section .second-p{
    font-family: "Proxima Soft";
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
}
.homepage-service-section{
    /* margin-bottom: 10px; */
    padding: 10px;
    /* background: linear-gradient(60deg, #f4cb00, #f4a603, #e47400, #ffa164, #ffe99c, #f6ffa2, #7bce45, #63c519); */
    /* background-image: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); */
    /* animation: animatedgradient 2s ease alternate infinite;
    background-size: 300% 300%; */
}
.homepage-service-section .gradient-bg{
    border-radius: 6px;
    padding-bottom: 30px;
    /* background-color: white; */
    padding-top: 15px;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.homepage-service-section h3{
    border-radius: 0px 0px 24px 24px;
    padding: 2px 5px 5px;
    text-align: center;
    font-family: Caveat, cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 52px;
    letter-spacing: -.01em;
    /* color: #804127; */
    /* color: #b6312b; */
    z-index: 1;
    color: #1f1f1f;
    position: relative;
}
.img-underline-heading{
    position: relative;
}
.img-underline-heading .img-underline{
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 530px;
    height: 30px;
}
.our-service-card{
    margin-top: 30px;
}
.our-service-card .card-group{
    justify-content: center;
    gap: 15px;
    font-weight: 500;
}
.our-service-card .card-group .card{
    border-radius: 8px 8px 24px 24px;
    padding: 0px;
    border: 1px solid #f1f1f1;
    animation: our-service-card-progress 5s;
    box-shadow: 0 27px 20px -15px rgb(79 79 79 / 31%);
    margin-bottom: 12px;
}
@keyframes our-service-card-progress {
    from{
        transform: rotateY(-95deg);
    }
    to{
        transform: rotateY(0deg);
    }
}
.check-all-service-btn-section, .go-to-gallery-btn-section, .about-us-btn-section, .go-to-reviews-btn-section{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.check-all-service-btn-section a, .go-to-gallery-btn-section a, .about-us-btn-section a, .go-to-reviews-btn-section a{
    /* background-image: linear-gradient(90deg, #0b4b39, #76ae0e); */
    border-radius: 8px;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    font-weight: 600;
    gap: 4px;
    /* margin-top: 8px; */
    border: none;
    padding: 8px 20px 10px;
    text-decoration: none;
    width: 220px;
    justify-content: center;
    background-image: linear-gradient(90deg, #a6ad00, #40941f);
    box-shadow: inset 0 -3px 10px #252525;
    font-family:'Proxima Soft Black';
    letter-spacing: .8px;
}
.check-all-service-btn-section a{
    border: 8px dashed #ffffff;
}
.our-service-card .card-group .card img{
    border-radius: 8px 8px 0px 0px !important;
    background-color: white;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
}
.our-service-card .card-group .card .card-body{
    border-radius: 0px 0px 24px 24px;
    padding: 5px 12px 20px;
    color: rgb(0, 0, 0);
}
.our-service-card .card-group .card .card-img-body{
    padding: 6px;
    border-radius: 6px 6px 0px 0px;
}
.our-service-card .card-group .card .card-body .card-title{
    font-family: "Proxima Soft Bold" !important;
}
.our-service-card .card-group .card .card-body .card-text{
    font-family: "Proxima Soft Semibold" !important;
}
.why-choose-us-section{
    /* margin-bottom: 30px; */
    padding: 20px 0px 40px;
    background-image: linear-gradient(91deg, #ffd9b2, white, #ddffc1);
    /* box-shadow: 0px -10px 5px white inset; */
}
.why-choose-us-section h3{
    border-radius: 0px 0px 24px 24px;
    padding: 2px 5px 5px;
    text-align: center;
    font-family: Caveat, cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 52px;
    letter-spacing: -.01em;
    color: #4a3fb6;
    position: relative;
}
.choose-us-txt-banner{
    gap: 15px;
    margin-top: 25px;
}
.choose-us-txt-banner .card{
    border: none;
}
.choose-us-txt-banner .why-choose-us-card{
    box-shadow: 0 27px 20px -15px rgb(73 67 74 / 31%);
    border-radius: 12px !important;
    border: 1px solid #f2f2f2;
}
.why-txt-section{
    display: flex;
    flex-direction: column;
}
.why-txt-section p{
    display: flex;
    gap: 10px;
    background-image: linear-gradient(227deg, #80b9d4, #fb5e00);
    padding: 10px 15px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 8px;
    font-family: "Proxima Soft Bold" !important;
    font-size: 18px;
}
.why-txt-section .badge{
    background-color: #fff4cd;
    color: black;
    line-height: 1.2;
}
.choose-us-txt-banner .card-two-body{
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid #f0f2f3;
}
.waiter-img-section .bg-img-section{
    border-radius: 12px;
}
.waiter-img-section .link-on-img{
    flex-direction: column;
    gap: 24px;
    border-radius: 12px;
}
.waiter-img-section .link-on-img .card{
    color: #556b00;
    font-weight: 600;
    border-radius: 12px !important;
    margin-bottom: 0px;
    background-image: url(https://img.perceptpixel.com/pykhlszs/riya_caterer/bg-img-six.webp);
    background-position: inherit;
    background-size: cover;
    box-shadow: 0 27px 20px -15px rgb(73 67 74 / 31%);
}
.waiter-img-section .link-on-img .text-right{
    box-shadow: inset 1px -1px 10px #90ac73;
}
.link-on-img .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .link-on-img .card-text{
    text-shadow: 0px 0px 13px #d58401;
} */
.link-on-img .custom-btn-style{
    color: #ffffff;
    border: 2px solid #a4a4a4;
    border-radius: 24px;
    width: 150px;
    background-image: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    animation: animatedgradient 2s ease alternate infinite;
    background-size: 300% 300%;
}

.homepage-customer-review{
    background: white;
    padding-top: 25px;
}
.homepage-reviews-section .review-submit-section{
    display: none;
}
.homepage-reviews-section{
    background: url(https://img.perceptpixel.com/pykhlszs/riya_caterer/bg-img-three.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    margin-top: 20px;
}
.homepage-customer-review h3{
    border-radius: 0px 0px 24px 24px;
    padding: 2px 5px 5px;
    text-align: center;
    font-family: Caveat, cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 52px;
    letter-spacing: -.01em;
    color: #e39b00;
    position: relative;
    z-index: 1;
}
.homepage-reviews-section .review-widget{
    box-shadow: 0 27px 20px -15px rgba(122,62,134,.31);
}
.review-widget-body .review-widget-carousel-arrow{
    font-size: 22px;
}
.review-widget-body .fa-chevron-left, .review-widget-body .fa-chevron-right{
    font-size: 22px;
}
.work-gallery-section{
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    /* margin-bottom: 45px; */
    background-image: url('https://img.perceptpixel.com/pykhlszs/riya_caterer/bg-img-five.webp');
    margin-top: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.homepage-gallery-slide-show{
    background: white;
    padding-top: 25px;
}
.homepage-gallery-slide-show h3{
    border-radius: 0px 0px 24px 24px;
    padding: 2px 5px 5px;
    text-align: center;
    font-family: Caveat, cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 52px;
    letter-spacing: -.01em;
    color: #527912;
    position: relative;
}

.gallery-txt-heading{
    width: 100%;
}

@media(min-width: 992px){
    .waiter-img-section .link-on-img{
        height: 540px;
    }
    .work-gallery-section{
        margin-top: 22px !important;
    }
}

@media(min-width:1400px){
    .homepage-body .introduction-banner{
        height: 550px;
    }
}

@media(max-width:1399.98px){
    .homepage-body .introduction-banner{
        height: 500px;
    }
    .our-service-card .card-group .card img{
        min-height: 180px;
        max-height: 180px;
    }
}
@media(max-width:1199.98px){
    .our-service-card .card-group {
        gap: 10px;
    }
    .our-service-card .card-group .card img{
        min-height: 165px;
        max-height: 165px;
    }
    
}
@media(max-width:991.98px){
    .homepage-body .introduction-banner{
        height: 450px;
    }
    .homepage-service-section .gradient-bg{
        padding-top: 10px !important;
    }
    /* .homepage-service-section{
        padding-top: 20px;
    } */
    .img-underline-heading h3{
        font-size: 42px;
        margin-bottom: 0px;
    }
    .img-underline-heading .img-underline{
        top: 32px;
        width: 370px;
        height: 25px;
    }   
    .why-txt-section{
        border-right: none !important;
    }
    .our-service-card{
        margin-top: 15px;
    }
    .our-service-card .card-group{
        flex-wrap: wrap;
    }
    .our-service-card .card-group .card{
        flex: 40% 1;
    }
    .choose-us-txt-banner{
        flex-direction: column;
        gap: 26px;
        margin-top: 15px;
    }
    .waiter-img-section .link-on-img{
        display: flex;
     }
    .waiter-img-section .link-on-img .card{
        margin-bottom: 0px;
    }
    .homepage-customer-review, .homepage-gallery-slide-show{
        padding-top: 15px;
    }
    .homepage-reviews-section, .work-gallery-section{
        margin-top: 12px !important;
    }
    .work-gallery-section{
        background-size: 115%;
        background-position: center;
    }
    .our-service-card .card-group .card img{
        min-height: 220px;
        max-height: 220px;
    }
}

@media(max-width:767.98px){
    .homepage-body .introduction-banner{
        height: 460px;
    }
    .card-group{
        display: flex;
        flex-direction: column !important;
    }
    .check-all-service-btn-section{
        margin-top: 20px;
    }
    .why-choose-us-section{
        padding-top: 10px !important;
    }
    .work-gallery-section{
        background-size: 120%;
        background-position: center;
    }
    .our-service-card .card{
        margin-bottom: 20px !important;
    }
    .our-service-card .card-group .card img{
        min-height: 325px;
        max-height: 225px;
    }
}

@media(max-width:575.98px){
    .gallery-txt-heading{
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
    .check-all-service-btn-section a{
        margin-top: 0px;
    }
    .about-us-btn-section, .go-to-reviews-btn-section{
        margin-top: 30px;
    }
    .why-choose-us-card{
        margin: 0px !important;
    }
    .img-underline-heading h3{
        font-size: 40px;
    }
    .img-underline-heading .img-underline{
        top: 30px;
        width: 350px;
        height: 22px;
    }
    .go-to-gallery-btn-section{
        margin-top: 15px !important;
    }
    .our-service-card .card-group .card img{
        min-height: 305px;
        max-height: 305px;
    }
}

@media(max-width:483.98px){
    .homepage-body .introduction-banner{
        height: 475px;
    }
    .homepage-body .intro-txt{
        font-size: 18px;
    }
    .welcome-caterer{
        font-size: 16px !important;
    }
    .intro-qote{
        font-size: 26px !important;
    }
    .intro-qote-two{
        font-size: 14px !important;
    }
    .neon-glow-button{
        font-size: 14px;
        max-width: 160px;
        padding: 6px 12px;
    }
    .homepage-body h3{
        font-size: 26px;
    }
    .homepage-service-section .gradient-bg{
        padding-top: 5px !important;
    }
    .img-underline-heading h3{
        font-size: 36px;
    }
    .img-underline-heading .img-underline{
        top: 25px;
        width: 335px;
        height: 20px;
    }
    .our-service-card{
        margin-top: 5px;
    }
    .choose-us-txt-banner{
        margin-top: 8px;
    }
    .homepage-customer-review, .homepage-gallery-slide-show{
        padding-top: 8px;
    }
    .homepage-reviews-section, .work-gallery-section{
        margin-top: 6px !important;
    }
    .work-gallery-section{
        background-size: 125%;
        background-position: center;
        margin-top: 5px;
    }
    .go-to-gallery-btn-section{
        margin-top: 5px !important;
    }
    .our-service-card .card-group .card img{
        min-height: 275px;
        max-height: 275px;
    }
}
@media(max-width:440px){
    .work-gallery-section{
        margin-top: 0px !important;
    }
}
@media(max-width:423.98px){
    .img-underline-heading h3{
        font-size: 32px;
    }
    .img-underline-heading .img-underline{
        top: 26px;
        width: 285px;
        height: 18px;
    }
    .why-txt-section p{
        font-size: 17px;
    }
    .work-gallery-section{
        margin-top: 10px !important;
    }
    .work-gallery-section{
        background-size: cover;
        background-position: left;
        margin-top: 5px;
    }
    .go-to-gallery-btn-section{
        margin-top: 5px !important;
    }
    .our-service-card .card-group .card img{
        min-height: 225px;
        max-height: 225px;
    }
}
@media(max-width:373.98px){
    .welcome-caterer{
        font-size: 14px !important;
    }
    .intro-qote{
        font-size: 24px !important;
    }
    .neon-glow-button{
        font-size: 14px;
        max-width: 160px;
        padding: 6px 12px;
    }
}
@media(max-width:349.98px){
    .intro-qote{
        font-size: 22px !important;
    }
    .neon-glow-button{
        font-size: 13px;
        padding: 6px 13px;
    }
    .enquiry-btn-section{
        gap: 6px;
    }
    .why-txt-section{
        font-size: 15px;
    }
    .card-one-body{
        padding: 12px;
    }
    /* .introduction-banner{
        height: 550px !important;
    } */
    .img-underline-heading h3{
        font-size: 30px;
    }
    .img-underline-heading .img-underline{
        top: 26px;
        width: 256px;
        height: 18px;
    }
    .homepage-customer-review, .homepage-gallery-slide-show{
        padding-top: 5px;
    }
    .homepage-reviews-section, .work-gallery-section{
        margin-top: 4px !important;
    }
    .our-service-card .card-group .card img{
        min-height: 160px;
        max-height: 160px;
    }
}
