
.homepage-body .introduction-banner{
    background-image: url('https://img.perceptpixel.com/pykhlszs/riya_caterer/homepage-banner-images__1_.webp');
    background-size: cover;
    background-position: bottom;
}
.homepage-body .introduction-banner .dark-opacity{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    padding: 10px;
    height: 100%;
    position: relative;
    font-weight: 500;
    color: white !important;
}
.homepage-body .introduction-banner .intro-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.homepage-body .intro-heading h2{
    font-size: 36px !important;
}

.homepage-body .intro-txt{
    font-size: 18px;
    color: white !important;
}
.homepage-body .intro-txt b{
    font-weight: 700;
    color: rgb(238, 255, 46);
}
.homepage-body .intro-qote{
    margin-bottom: 8px;
    font-style: italic;
    color: #efffb1;
    font-weight: 500;
}
.homepage-body .intro-qote-two{
    font-weight: 600;
}
.enquiry-btn{
    width: 171px;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid #ffc700;
    padding: 4px 10px;
    color: white;
}
.enquiry-btn:hover{
    background-color: rgba(0, 0, 0, 1);
}
.enquiry-btn:focus{
    background-color: rgba(0, 0, 0, .1);
}
.homepage-body h3{
    font-weight: 600;
}
.homepage-service-section{
    padding: 12px;
}
.homepage-service-section .gradient-bg{
    background-image: url('https://img.perceptpixel.com/pykhlszs/riya_caterer/bg-img-four.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    padding-bottom: 30px;
    box-shadow: 0 27px 20px -15px rgba(122,62,134,.31);
}
.homepage-service-section h3{
    margin-bottom: 10px;
    color: #ffcf85;
    border-radius: 0px 0px 24px 24px;
    padding: 2px 5px 5px;
    background-color: rgb(0 0 0 / 80%);
    /* background-color: rgb(98 138 4); */
    text-align: center;
}
.our-service-card .card-group{
    justify-content: center;
    gap: 10px;
    font-weight: 500;
}
.our-service-card .card-group .card{
    border-radius: 8px 8px 24px 24px;
    padding: 0px;
    border: 0px solid #000000;
    animation: our-service-card-progress 5s;
    background-color: rgba(0, 0, 0, .4);
}
@keyframes our-service-card-progress {
    from{
        transform: rotateY(-95deg);
    }
    to{
        transform: rotateY(0deg);
    }
}
.check-all-service-btn-section, .go-to-gallery-btn-section, .about-us-btn-section, .go-to-reviews-btn-section{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.check-all-service-btn-section a, .go-to-gallery-btn-section a, .about-us-btn-section a, .go-to-reviews-btn-section a{
    background-image: linear-gradient(90deg, #0b4b39, #76ae0e);
    border-radius: 8px;
    box-shadow: inset 0 -3px 10px #252525;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    font-weight: 600;
    gap: 4px;
    /* margin-top: 8px; */
    border: none;
    padding: 8px 20px 10px;
    text-decoration: none;
    width: 200px;
    justify-content: center;
}
.our-service-card .card-group .card img{
    border-radius: 8px 8px 0px 0px !important;
    background-color: white;
}
.our-service-card .card-group .card .card-body{
    border-radius: 0px 0px 24px 24px;
    padding: 5px 12px 20px;
    color: white;
    background-color: rgba(0, 0, 0, .5);
}
.our-service-card .card-group .card .card-img-body{
    padding: 6px;
    border-radius: 6px 6px 0px 0px;
    background-color: rgba(0, 0, 0, .5);
}
.our-service-card .card-group .card .card-body .card-title{
    font-weight: 700;
    color: #ffb84a;
}
.why-choose-us-section{
    margin-bottom: 45px;
    background-image: url(https://s3-cdnwhjr.whjr.online/website/desktop/bfs/bg-hero-bfs.png);
    background-size: cover;
    /* padding: 10px 0px; */
}
.why-choose-us-section h3{
    margin-bottom: 10px;
    color: #fffbea;
    border-radius: 0px 0px 12px 12px;
    padding: 3px 5px 5px;
    /* background-color: #a44314; */
    background-color: #d58400;
}
.choose-us-txt-banner{
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    box-shadow: 0 27px 20px -15px rgba(122,62,134,.31);
    background: #f2f2f2;
    border-radius: 12px;
    margin: 0px;
}
.why-txt-section{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #d0e6fa;
}
.why-txt-section p{
    display: flex;
    gap: 10px;
    background-image: linear-gradient(227deg, #80b9d4, #fb5e00);
    padding: 10px 15px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 8px;
}
.why-txt-section .badge{
    background-color: #fff4cd;
    color: black;
    line-height: 1.2;
}
.waiter-img-section div {
    border-radius: 0px 12px 12px 0px;
}
.waiter-img-section img{
    width: 100%;
}
.homepage-reviews-section .review-submit-section{
    display: none;
}
.homepage-reviews-section{
    margin-bottom:45px;
    background: url(https://img.perceptpixel.com/pykhlszs/riya_caterer/bg-img-three.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}
.homepage-reviews-section h3{
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 0px 0px 16px 16px;
    padding: 3px 5px 5px;
    line-height: 1.2;
    color: #ffdca8;
    background-color: rgba(0, 0, 0, 0.7);
}
.homepage-reviews-section .review-widget{
    box-shadow: 0 27px 20px -15px rgba(122,62,134,.31);
}
.work-gallery-section{
    position: relative;
    background-size: cover;
    background-image: url(https://s3-cdnwhjr.whjr.online/website/desktop/musicbanner1x.png);
    background-repeat: no-repeat;
    background-position: 50%;
    display: none;
}
.work-gallery-section h3{
    /* background-image: linear-gradient(235deg, #591b0d, #000000, #5a1b0e); */
    margin-bottom: 10px;
    margin-top: 10px;
    color: #fffbea;
    border-radius: 0px 0px 12px 12px;
    padding: 3px 5px 5px;
    /* background-color: #866900; */
    background-color: #000000;
    /* font-family: cursive; */
}
.gallery-txt-heading{
    /* position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
}

.image-album-cover{
    background-color: black;
    padding: 36px 15px 15px;
    border-radius: 6px 6px 0px 0px;
}

.image-album-cover img{
    border: 2px solid #f4be00;
}
@media(min-width:1200px){
    .waiter-img-section img{
        max-width: 76%;
    }
    .waiter-img-section div{
        background-color: #d0e6fa;
    }
}
@media(min-width:1400px){
    .homepage-body .introduction-banner{
        height: 550px;
    }
    .waiter-img-section img{
        max-width: 65%;
    }
}

@media(max-width:1399.98px){
    .homepage-body .introduction-banner{
        height: 500px;
    }
}

@media(max-width:1199.98px){
    .waiter-img-section img{
        max-width: 92%;
    }
    .waiter-img-section div{
        background-color: #d0e6fa;
    }
}

@media(max-width:991.98px){
    .homepage-body .introduction-banner{
        height: 450px;
    }
    .waiter-img-section div{
        background-color: #d0e6fa;
    }
    .waiter-img-section img{
        width: 72%;
    }
    .choose-us-txt-banner{
        gap: 15px;
    }
    .why-txt-section{
        border-right: none !important;
    }
    .our-service-card .card-group{
        flex-wrap: wrap;
    }
    .our-service-card .card-group .card{
        flex: 40% 1;
    }
    /* .first-card, .second-card{
        margin-bottom: 14px !important;
    } */
    .waiter-img-section div {
        border-radius: 24px;
    }
}

@media(max-width:767.98px){
    .homepage-body .introduction-banner{
        height: 450px;
    }
    .card-group{
        flex-direction: column !important;
    }
    .our-service-card .card{
        margin-bottom: 16px !important;
    }
    .check-all-service-btn-section, .go-to-gallery-btn-section, .about-us-btn-section, .go-to-reviews-btn-section{
        margin-top: 12px;
    }
    .homepage-service-section .gradient-bg{
        background-image: url('https://img.perceptpixel.com/pykhlszs/riya_caterer/bg-img-mob-one.webp');
        background-position: center;
    }
    .homepage-service-section h3{
        background-color: black
    }
}

@media(max-width:575.98px){
    .gallery-txt-heading{
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
    .check-all-service-btn-section a{
        margin-top: 0px;
    }
    .our-service-card .card{
        margin-bottom: 26px !important;
    }
    .check-all-service-btn-section, .go-to-gallery-btn-section, .about-us-btn-section, .go-to-reviews-btn-section{
        margin-top: 28px;
    }
}

@media(max-width:483.98px){
    .homepage-body .introduction-banner{
        height: 500px;
    }
    .homepage-body .intro-txt{
        font-size: 18px;
    }
    .waiter-img-section img{
        width: 92%;
    }
    .choose-us-txt-banner{
        padding: 16px 6px;
    }
    .homepage-body h3{
        font-size: 18px;
    }
}
