.menu-package-banner-section{
    background-image: url('https://img.perceptpixel.com/pykhlszs/riya_caterer/menu-package-page-banner.webp');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.menu-package-banner-section .transparent-wrap{
    background-color: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 620px;
}
.menu-package-banner-section .banner-content-section{
    color: white;
    font-family: 'Proxima Soft Bold';
    font-size: 20px;
}
.banner-content-section p{
    padding-left: 10px;
    padding-right: 10px;
}
.menu-package-banner-section h1{
    background-color: black;
    padding: 15px 10px 20px;
    text-align: center;
    /* font-family: Caveat, cursive; */
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 52px;
    letter-spacing: -.01em;
    color: #edb763;
    position: relative;
    font-family: 'FontAwesome';
    background-color: rgb(0 0 0 / 70%)
}
.term-policy-section [data-active="true"]{
    display: block;
}
.term-policy-section [data-active="false"]{
    display: none;
}
.package-details-section{
    font-family: 'Roboto', sans-serif;
    background-color: #060606;
    background-image: url('https://img.perceptpixel.com/pykhlszs/riya_caterer/bg-img-sixteeen.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.package-details-section h3{
    font-family: "Proxima Soft Bold";
    font-size: 40px;
    color: #340000;
    padding: 5px 5px 10px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -.01em;
    position: relative;
    z-index: 1;
    border: 1px solid white;
    border-style: none;
    text-underline-offset: 5px;
    text-decoration-line: underline;
    text-decoration-style:dotted;
    text-underline-position: under;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 60px;
    margin-bottom: 0px;
}
.package-filter-section-wrap{
    width: 100%;
    padding: 30px 0px 0px;
    background-color: rgb(255, 255, 255)
}
.our-package-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
}
.our-package-heading .left-triangle{
    width: 60px;
    height: 60px;
    border-bottom: solid 30px rgb(255, 255, 255);
    border-right: solid 30px rgb(255, 255, 255);
    border-left: solid 30px transparent;
    border-top: solid 30px transparent;
    --side-rotate: 60deg;
    margin-left: -12px;
}
.our-package-heading .right-triangle{
    width: 60px;
    height: 60px;
    border-bottom: solid 30px rgb(255, 255, 255);
    border-left: solid 30px rgb(255, 255, 255);
    border-right: solid 30px transparent;
    border-top: solid 30px transparent;
    --side-rotate: 60deg;
    margin-right: -12px;
}
.our-package-intro{
    font-family: "Proxima Soft Semibold";
    font-size: 18px;
}
.package-data-carousel{
    border-top: 20px solid white;
}
.package-data-carousel .carousel-inner{
    margin-top: 20.8px;
}
.package-data-carousel .carousel-control-prev, .package-data-carousel .carousel-control-next{
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 4px;
    height: 34.6px;
    opacity: 1;
    width: 38px !important;
    top: 21px;
}
.package-data-carousel .carousel-control-prev{
    border-radius: 5px 0px 0px 5px;
    border-right: 2px solid black;
}
.package-data-carousel .carousel-control-next{
    border-radius: 0px 5px 5px 0px;
    border-left: 2px solid black;
}
.package-data-carousel h5{
    background-color: white;
    height: 35px;
    font-weight: 600;
    font-family: "Proxima Soft Bold";
    /* border: 1px solid #0000004d; */
    background: linear-gradient(121.19deg, rgba(133, 239, 49, 0) 25.73%, hsla(0, 0%, 100%, .3) 45.27%, rgba(133, 239, 49, 0) 62.27%), #ff3333;
    color: white;
    fill: currentColor;
    animation: d 20s linear infinite;
    /* border-bottom: 4px solid #d32121; */
    line-height: 1.5;
    border-radius: 4px;
}
.package-details-section-wrap{
    background-color: rgba(0,0,0,.6);
    width: 100%;
    padding:0px 0px 30px;
}

.our-package-ul{
    width: min(100%, 60rem);
    overflow: hidden;
    margin-inline: auto;
    padding-inline: clamp(1rem, 5vw, 4rem);
    list-style: none;
    perspective: 1000px;
    display: grid;
    row-gap: 0.5rem;
    /* margin-top: 20.2px; */
}
.our-package-ul li{
    background-color: rgba(0, 0, 0, 0.671) !important;
    box-shadow: inset 0px 0px 8px 0px rgb(218, 180, 131);
}
.our-package-ul li.card{
    position: relative;
    padding-block: 1.5rem;
    padding-inline: 2rem;
    background-color: var(--bg-color);
    background-image: linear-gradient(to right, rgb(0 0 0 / .15), transparent);
    transform-style: preserve-3d;
    color: var(--color);
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    grid-template: 'icon' 'title' 'content';
    row-gap: 0.5rem;
    column-gap: 1rem;
    box-shadow: 0 27px 20px -19px rgba(134, 118, 64, 0.42);
    /* font-family: "Proxima Soft Semibold"; */
}
.our-package-ul li.card::before, .our-package-ul li.card::after {
    --side-rotate: 60deg;
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform-origin: calc(50% - (50% * var(--ry))) 50%  ;
    transform: rotateY(calc(var(--side-rotate) * var(--ry)));
    background-color: inherit;
    background-image: linear-gradient(calc(90deg * var(--ry)), rgb(0 0 0 / .25), rgb(0 0 0 / .5));  
}
.our-package-ul li.card::before {--ry: -1; right: 100% }
.our-package-ul li.card::after {--ry: 1; left: 100% }
  
.our-package-ul li.card .icon {
    grid-area: icon;
    /* display: grid;
    place-items: center; */
}
.our-package-ul li.card .icon i {
    font-size: 2.5rem;
    color: #f4c900;
    padding-top: 4px;
}
.our-package-ul li.card .title{
    grid-area: title;
    font-size: 1.25rem;
    text-align: center;
    font-family: "Proxima Soft Bold";
}
.our-package-ul li.card .content{
    grid-area: content;
    padding-top: 2px;
    font-family: "Proxima Soft Semibold";
}
.download-btn-section{
    height: 46px;
}
  
@media (min-width: 30rem){
    .our-package-ul li.card {
      grid-template: 'icon title' 'icon content';
      text-align: left;
    }
    .our-package-ul li.card .title { text-align: left }
}
@media(min-width:992px){
    .package-data-carousel .carousel-control-prev, .package-data-carousel .carousel-control-next{
        width:52px !important
    }
}
@media(min-width:1200px){
    .our-package-ul{
        width: min(100%, 70rem);
        overflow: hidden;
        margin-inline: auto;
        padding-inline: clamp(4rem, 5vw, 4rem)
    }
    .our-package-ul li.card::before, .our-package-ul li.card::after {
        --side-rotate: 56deg;
    }
    .package-data-carousel .carousel-control-prev, .package-data-carousel .carousel-control-next{
        width:64px !important
    }
}
@media(min-width:1400px){
    .menu-package-banner-section .transparent-wrap{
        min-height: 720px;
    }
    .our-package-ul{
        width: min(100%, 80rem);
        overflow: hidden;
        margin-inline: auto;
        padding-inline: clamp(5rem, 5vw, 4rem)
    }
    .our-package-ul li.card::before, .our-package-ul li.card::after {
        --side-rotate: 50deg;
    }
    .package-data-carousel .carousel-control-prev, .package-data-carousel .carousel-control-next{
        width:88px !important
    }
}
@media(min-width:1900px){
    .menu-package-banner-section .transparent-wrap{
        min-height: 800px;
    }
}
@media(max-width:991.98px)and(min-width:768px){
    .package-data-carousel .carousel-control-prev, .package-data-carousel .carousel-control-next{
        width:44px !important
    }
}
@media(max-width:575.98px){
    .menu-package-banner-section h1{
        font-size: 45px !important;
    }
    .menu-package-banner-section .banner-content-section {
        font-size: 18px;
    }
}
@media(max-width:483.98px){
    .menu-package-banner-section h1{
        font-size: 42px !important;
    }
    .menu-package-banner-section .transparent-wrap{
        min-height: 550px;
    }
    .package-details-section h3{
        font-size: 32px;
    }
    .our-package-ul li.card {
        flex-direction: column;
    }
}
@media(max-width:349.98px){
    .package-details-section h3{
        font-size: 30px
    }
}