.pendulum{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
}
  
.pendulum_box{
    display: flex;
    position: absolute;
}
.ball{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ffb227;
    position: relative;
    transform-origin: 50% -300%;
}
  
.ball.first{
    animation: firstball .9s alternate ease-in infinite;
}
  
@keyframes firstball{
    0%{
        transform: rotate(35deg);
    }
    50%{
        transform: rotate(0deg);
    }
}
  
.ball.last{
    animation: lastball .9s alternate ease-out infinite;
}
  
@keyframes lastball{
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-35deg);
    }
}

@media(max-width:423.98px){
    .ball{
        height: 30px;
        width: 30px;
    }
}