.gallery-page-body .banner-section{
    background-color: black;
    background-image: url('https://img.perceptpixel.com/pykhlszs/riya_caterer/gallery-banner-img.webp');
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}
.gallery-page-body .banner-section .gradient-bg{
    background-color: rgba(0,0,0,.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    min-height: 432px;
}

.gallery-page-body .banner-section h3{
    color: #ffc100;
    font-family: 'FontAwesome';
    font-size: 50px;
}

.gallery-page-body .banner-section .page-heading{
    font-size: 32px;
    color: wheat;
    padding: 5px 15px;
    font-family: 'Proxima Soft Bold';
    border-radius: 4px;
    margin-top: 15px;
    border: 2px solid rgb(100, 100, 100);
}

.gallery-page-body .banner-section .sub-txt{
    color: white;
    margin-top: 15px;
    font-family: Caveat, cursive;
    font-size: 22px;
    margin-bottom: 8px;
}

.gallery-page-body .enquiry-btn-two{
    min-width: 200px !important;
}
.gallery-box-section{
    background-color: #ffffff;
    padding: 30px 0px 50px 0px;
}
.gallery-box-section h3{
    font-family: "Proxima Soft Semibold";
    font-size: 40px;
    /* box-shadow: 0 0 0px #000000, 0 0 0px #000000, 0 0 40px #c7c7c7 !important; */
    color: #f4a300;
    /* border-radius: 0px 0px 24px 24px; */
    padding: 2px 5px 5px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -.01em;
    position: relative;
    z-index: 1;
    background-color: black;
    border: 1px solid white;
    border-style: dashed;
}
.gallery-box-section .intro-txt{
    color: rgb(0, 0, 0);
    margin-top: 15px;
    font-family: Caveat, cursive;
    font-size: 22px;
    padding: 15px;
}
.event-filter-section{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    /* align-items: center; */
    /* box-shadow: 0 24px 20px -15px #7a3e864f!important; */
    margin-bottom: 20px;
    justify-content: center;
}
.btn-for-scroll .chevron-left-button, .chevron-right-button {
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 4px;
}
.gallery-box-section .chevron-right-button{
    padding-left: 6px;
}
.gallery-box-section .food-category-buttons{
    display: flex;
    overflow: scroll;
    flex-wrap: nowrap;
    gap: 8px;
    padding: 0px 2px 2px;
    width: auto;
}

.food-category-buttons .btn{
    font-weight: 600;
    font-family: "Proxima Soft Semibold";
    border: 1px solid #0000004d;
    background: linear-gradient(121.19deg, rgba(133, 239, 49, 0) 25.73%, hsla(0, 0%, 100%, .3) 45.27%, rgba(133, 239, 49, 0) 62.27%), #ff3333;
    color: white;
    fill: currentColor;
    animation: d 120s linear infinite;
    border-bottom: 4px solid #d32121;
    height: 32px;
    line-height: .1;
}
.food-category-buttons .btn:hover{
    border-bottom: 4px solid black;
    border: 1px solid black;
}
.food-category-buttons [btn-active="true"]{
    background: linear-gradient(121.19deg, rgba(133, 239, 49, 0) 25.73%, hsla(0, 0%, 100%, .3) 45.27%, rgba(133, 239, 49, 0) 62.27%), #f4a300;
    color: #3a0000;
    border-bottom: 4px solid #953d00;
}
.sort-by-filter-section-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.sort-by-filter-section{
    align-items: baseline;
    border: 2px solid silver;
    border-radius: 5px;
    display: flex;
    gap: 4px;
    justify-content: center;
    padding: 5px 0;
}
.sort-by-btn-section{
    border-right: 2px solid #d9d9d9;
}
.file-type-option{
    border-right: 2px solid #d9d9d9;
}
.gallery-box-section .dropdown-area-expand {
    color: #b00a0a;
    font-weight: 500;
    min-width: 225px;
}
.gallery-box-section .sort-by-form-check, .gallery-box-section .filter-by-form-check{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-between;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.sort-by-filter-section button{
    background-color: initial !important;
    border: none;
    max-width: 105px;
    padding-left: 10px;
    padding-right: 14px;
    font-family: 'Proxima Soft Semibold';
    color: black;
}
.sort-by-filter-section .sort-by-btn{
    color: #6909ff !important;
}
.sort-by-filter-section .filter-by-btn{
    color: #944300 !important;
}
.image-album-section{
    box-shadow: 0 27px 20px -19px rgb(122 62 134 / 31%);
}
.show-image-section{
    position: relative;
    font-family: "Proxima Soft Bold";
    box-shadow: 0px 11px 20px 0 rgb(106 98 90);
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 10px;
}
.gallery-page-body .show-images{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 4px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 5px;
    gap: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    font-family: 'Proxima Soft Bold';
    position: relative;
}
.gallery-page-body .show-images .gallery-img{
    position: relative;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    background-color: #000000;
    border-radius: 10px;
    position: relative;
    border: 4px solid black;
    max-height: 172px;
}
.gallery-yt-video{
    display: flex;
}
.gallery-page-body .show-images .album-img{
    border-radius: 6px;
    border: 1px solid rgb(38, 38, 38);
    object-fit: cover;
    height: 100%;
}
.gallery-yt-video .yt-video-iframe{
    height: 100%;
    width: 100%;
    border-radius: 6px;
}
.full-screen-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
    padding: 4px 6px;
}
.full-screen-btn img{
    height: 30px !important;
    width: 30x !important;
    border: none;
}
@media(min-width:768px){
    .gallery-page-body .banner-section .gradient-bg{
        min-height: 475px;
    }
    .gallery-page-body .banner-section h3{
        font-size: 56px;
    }
    .gallery-page-body .page-heading{
        font-size: 36px;
    }
    .gallery-page-body .banner-section .sub-txt{
        font-size: 26px;
        margin-bottom: 10px;
    }
    .gallery-page-body .show-images{
        padding: 8px;
    }
}
@media(max-width:767.98px){
    .gallery-page-body .show-images{
        gap: 5px;
    }
}
@media(max-width:649.98px){
    .menuplanner-banner-section{
        border-top: 10px solid rgb(37, 24, 27);
        border-bottom: 20px solid rgb(37, 24, 27);
    }
}
@media(max-width:575.98px){
    /* .gallery-page-body .show-images .album-img {
        height: 146px !important;
        width: 146px !important;
    }
    .gallery-page-body .yt-video-iframe{
        height: 146px !important;
        width: 146px !important;
    } */
}
@media(max-width:483.98px){
    .gallery-page-body .banner-section .sub-txt{
        font-size: 18px;
    }
    /* .gallery-page-body .show-images .album-img {
        height: 150px !important;
        width: 150px !important;
    }
    .gallery-page-body .yt-video-iframe{
        height: 150px !important;
        width: 150px !important;
    } */
}
@media(max-width:349.98px){
    .sort-by-filter-section button{
        font-size: 13px;
    }
    /* .gallery-page-body .show-images .album-img {
        height: 142px !important;
        width: 142px !important;
    }
    .gallery-page-body .yt-video-iframe{
        height: 142px !important;
        width: 142px !important;
    } */
}